In [1]:
import numpy as np
import pandas as pd
import sys
import gymnasium as gym
import gym_trading_env

from ConvertCSV import DataReady

In [2]:
df = pd.read_csv("/home/porsche/Desktop/Training_data/5minData/ATOMUSDT5min.csv")

DataReady(df)

                       open    high     low   close   volume
datetime
2024-03-11 02:00:00  13.190  13.233  13.179  13.219  10036.8
2024-03-11 02:05:00  13.219  13.276  13.217  13.243  20072.7
2024-03-11 02:10:00  13.243  13.262  13.201  13.262   8939.3
2024-03-11 02:15:00  13.262  13.264  13.203  13.205   9896.9
2024-03-11 02:20:00  13.205  13.209  13.150  13.167   8269.5
...                     ...     ...     ...     ...      ...
2024-04-02 19:05:00  10.943  11.030  10.931  11.013  22089.6
2024-04-02 19:10:00  11.013  11.031  10.992  11.031  16393.6
2024-04-02 19:15:00  11.031  11.031  10.950  10.976  10379.1
2024-04-02 19:20:00  10.976  10.976  10.920  10.959  12796.1
2024-04-02 19:25:00  10.959  10.959  10.939  10.949   2230.7

[6534 rows x 5 columns]

In [ ]:
# df is a DataFrame with columns : "open", "high", "low", "close", "Volume USD"

# Create the feature : ( close[t] - close[t-1] )/ close[t-1]
df["feature_close"] = df["close"].pct_change()

# Create the feature : open[t] / close[t]
df["feature_open"] = df["open"]/df["close"]

# Create the feature : high[t] / close[t]
df["feature_high"] = df["high"]/df["close"]

# Create the feature : low[t] / close[t]
df["feature_low"] = df["low"]/df["close"]

 # Create the feature : volume[t] / max(*volume[t-7*24:t+1])
df["feature_volume"] = df["Volume USD"] / df["Volume USD"].rolling(7*24).max()

df.dropna(inplace= True) # Clean again !
# Eatch step, the environment will return 5 inputs  : "feature_close", "feature_open", "feature_high", "feature_low", "feature_volume"

def dynamic_feature_last_position_taken(history):
    return history['position', -1]

def dynamic_feature_real_position(history):
    return history['real_position', -1]